h1 {
    font-size : 20px;
    text-align: center;
}

#go_back {
    font-style: italic;
}

h2,
h3 {
    text-align: center;
}

.first_sec_title {
    font-size: 1.05em;
}

.third_title {
    font-size: 1.365em;
}

img {
    display: inherit;
    margin : 0 auto;
}