h1 {
    font-size : 20px;
    text-align: center;
}

#go_back {
    font-style: italic;
}

h2,
h3 {
    text-align: center;
}

.first_sec_title {
    font-size: 1.05em;
}

.third_title {
    font-size: 1.365em;
}

img {
    display: inherit;
    margin : 0 auto;
}


/* Large devices */
@media screen and (min-width: 993px) {
    section {
        display        : flex;
        align-items    : center;
        justify-content: space-around;
    }

    img {
        width: 100%;
    }

    div {
        flex  : 1;
        margin: 10px;
    }
}

/* Medium devices */
@media screen and (min-width: 769px) and (max-width: 992px) {
    div:nth-of-type(1) {
        grid-area: f;
    }

    div:nth-of-type(2) {
        grid-area: s;
    }

    div:nth-of-type(3) {
        grid-area: t;
    }

    section {
        display              : grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows   : auto;
        grid-template-areas  :
            "f s"
            "t t";
    }

    img {
        width: 100%;
    }

    div {
        margin: 10px;
    }
}


@media screen and (max-width: 768px) {
    img {
        width: 100%;
    }

    div {
        margin: 10px;
    }
}