@media (min-width: 1200px) {
    .slider-image {
        min-height: 400px;
    }
}

@media (min-width: 1200px) {
    .slider-image {
        min-height: 300px;
    }
}

.slider-image {
    min-height: 200px;
    max-height: 400px;
    object-fit: cover;
}

.card-bg {
    background-color: rgba(0, 0, 0, .5);
}